*{
    box-sizing: border-box;
}
body{
    background: #444;
    color:#fff;
    height:100%;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
h1, h2, h3{
    margin:0;
    font-weight: 400;
}
.lg-hedding{
    font-size: 6rem;
}
.sm-hedding{
    margin-bottom:2rem;
    padding:0.2rem 1rem;
}
a{
    color:#fff;
    text-decoration: none   
}
header{
    width:100%;
    z-index:2;
    position: fixed;
}
.text-secondary{
    color:#eece1a;
}
main{
    padding:4rem;
    height:100%;
}
.icons{
    margin-top:1rem;
}
.icons a{
    padding:0.4rem;
}
.icons a:hover{
    color:#eece1a;
    transition: all 0.7s ease-out;
}
#home{
    overflow: hidden;
}
#home h1{
    margin-top:20vh;
}
#bg-img{
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.overlay{
    position: absolute;
    background: rgba(68,68,68,0.9);
    height:100%;
    width:100%;
    top:0;
    right:0;
    z-index:-1;
}

/* HAMBURGER */
.hamburger{
    position: absolute;
    top:35px;
    right:35px;
    cursor: pointer;
    transition: all 0.6s ease-out;
    z-index:3;
}
.hamburger-line{
    width: 28px;
    height:3px;
    margin-bottom: 5px;
    background: #fff;
    transition: all 0.6s ease-out;
}
.close{
    transform: rotate(180deg);
}

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
}
.show{
 visibility: visible;
 width:100%;
}
.menu-nav,.menu-branding{
    width:50%;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items:center;
    float: left;
    height: 100vh;
    overflow: hidden; 
}
.menu-nav{
    background:#333;
    padding: 0;
    margin:0;
    list-style:none;
}
.nav-link{
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding:1rem;
    font-weight:300;
    text-transform: uppercase;
}
.nav-link:hover{
    color:#eece1a;
}
.menu-branding{
    background: #777;

}
.portrait{
    width:250px;
    height:250px;
    background: url('img1c.jpg');
    border-radius: 50%;
    border:2px solid #eece1a;
}
.portrait:hover{
    background: url('img2.jpg');
    transition: 0.8s ease-in-out;
    cursor: pointer;
}
/* ABOUT PAGE */
.about-info{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-areas:
    "bio-image bio bio"
    "job-1 job-2 job-3";
    grid-gap:30px;
}
#main{
    max-width:1440px;
    margin: auto;
}
.bio-title{
    font-size: 38px;
    letter-spacing: 0.5em;
    font-weight: bolder;
}
.bio-image{
    grid-area: bio-image;
    margin:auto;
    border-radius: 50%;
    border:3px solid #eece1a;
}
.bio{
    grid-area: bio;
}
.job{
    margin-top: 50px;
    background: #515151;
    padding:1rem;
    border-bottom: 5px solid #eece1a;
}
.boxes{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top:3rem;
}
.boxes div{
    font-size:2rem;
    border:3px solid #fff;
    padding:1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.7s ease-out;
    cursor: pointer;
    }
.boxes div:hover{
    padding:0.5rem 1.5rem;
    background:#eece1a;
    color:#fff;
}
.boxes div:hover span{
    color:#000;
}
/* work */
.projects{
    margin-top:3rem;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 10px;
}
.projects img{
    width:80%;
    border: 3px solid #aaa;
}
.project-title{
    font-size: 20px;
    text-align: center;
    margin-bottom:8px
}
.item a{
    margin-left:10px;
    display:block;
}
.item i{
    margin:0 10px;
}
.work-btn{
    padding:6px 8px;
    margin-bottom:6px;
    width:78%
}
.btn-dark{
    background: #000;
}
.btn-light{
    background: #ccc;
    color:#000;
}
.work-btn:hover{
    background: #eece1a;
}
#main-footer{
    text-align: center;
    padding:1rem;
    background: #2b2b2b;
    color:#444;
    height:60px;
    width:100%;
}
@media(max-width:500px){
    main{
        align-items: center;
        text-align:center;
    }
    .lg-hedding{
        font-size:3rem;
        line-height: 1;
        margin-bottom: 1rem;
    }
    main#home h1{
        margin-top:10vh;
    }
    .menu-branding,
    .menu-nav{
        float:none;
        width:100%;
    }
    .menu-branding{
        height:50vh;
    }
    .menu-nav{
        height:50vh;
    }
    .nav-link{
        font-size:18px; 
    }
    .portrait{
        width:200px;
        height:200px;
    }
    /* .boxes{
        display:block;
        width:100%;
    } */
    .boxes div{
        font-size: 15px;
    }
    /* works */
    .projects{
        grid-template-columns: 1fr;

    }
    .projects img{
        width:100%;
    }
    .project-title{
        font-size: 15px;
    } 
    /* ABOUT ME */
    .about-info{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "bio-image"
        "bio"
        "job-1"
        "job-2"
        "job-2"
    }
    .work-btn{
        width:97%;
    }

}